*.vscode
*.config
*.txt
*.png
!req.txt
!*/manual_data_cleaning/*.txt
!*/manual_data_cleaning/label_RGB_manual/*.txt
*__
*.pytorch
*.pt
runs/*
*/runs/*
torch_test.py
*.zip
FLIR_PP/Crop
FLIR_PP/manual_data_cleaning/off_frame_by_AlignedVer.txt
miniRuns/
save_dir/

